In [163]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [164]:
info=pd.read_excel('./data/1.xlsx',sheet_name='企业信息')
info.head(5)
income=pd.read_excel('./data/1.xlsx',sheet_name='进项发票信息')
income.head(5)
outcome=pd.read_excel('./data/1.xlsx',sheet_name='销项发票信息')
outcome.head(5)

  企业代号      发票号码       开票日期  购买单位代号       金额       税额     价税合计  发票状态  利润率
0   E1  11459356 2017-08-04  B03711  9401.71  1598.29  11000.0  有效发票  NaN
1   E1   5076239 2017-08-09  B00844  8170.94  1389.06   9560.0  有效发票  NaN
2   E1   5076240 2017-08-09  B00844  8170.94  1389.06   9560.0  有效发票  NaN
3   E1   5076241 2017-08-09  B00844  4085.47   694.53   4780.0  有效发票  NaN
4   E1   5076242 2017-08-09  B00844  4085.47   694.53   4780.0  有效发票  NaN

In [165]:
# 废票率看销项发票信息，是该公司开的发票
for i in range(1,124):
    no='E'+str(i)
    info.loc[(info['企业代号']==no),'总票数']=pd.DataFrame(outcome.loc[outcome['企业代号']==no].count()).iloc[0,0]
    info.loc[(info['企业代号']==no),'废票数']=pd.DataFrame(outcome.loc[(outcome['发票状态']=='作废发票')&(outcome['企业代号']==no)].count()).iloc[0,0]
info['废票率']=info['废票数']/info['总票数']
info.head(5)

,企业代号,企业名称,信誉评级,是否违约,总销售额（含税）,总销售额(不含税),发票状态,总票数,废票数,废票率
0,E1,***电器销售有限公司,A,否,4.152994e+09,4.065843e+09,有效发票,8110.0,224.0,0.027620
1,E2,***技术有限责任公司,A,否,6.553819e+08,5.908417e+08,有效发票,12707.0,1042.0,0.082002
2,E3,***电子(中国)有限公司***分公司,C,否,5.887870e+08,5.701780e+08,有效发票,24073.0,385.0,0.015993
3,E4,***发展有限责任公司,C,否,2.011180e+09,1.839970e+09,有效发票,2231.0,190.0,0.085164
4,E5,***供应链管理有限公司,B,否,2.108013e+08,2.026323e+08,有效发票,1060.0,55.0,0.051887

In [166]:
# 删掉作废发票
income.drop(index=(income.loc[(income['发票状态']=='作废发票')].index),axis=0,inplace=True)
outcome.drop(index=(outcome.loc[(outcome['发票状态']=='作废发票')].index),axis=0,inplace=True)
# info=pd.merge(info,pd.DataFrame(outcome.groupby('企业代号')['金额'].sum()),how='inner',on='企业代号')
# info.head(5)

In [75]:
# info.rename(columns={'金额':'总销售额'},inplace=True)
# info.drop(index=(info.loc[(info['信誉评级']=='D')].index),axis=0,inplace=True)

In [167]:
# outcome['开票日期']=pd.to_datetime(outcome['开票日期'])
# outcome=outcome.set_index('企业代号')
#手动分割月份
# dic = {
#     "2016-10": "1610",
#     "2016-11": "1611",
#     "2016-12": "1612", 
    
#     "2017-01": "1701",
#     "2017-02": "1702",
#     "2017-03": "1703",
#     "2017-04": "1704",
#     "2017-05": "1705",
#     "2017-06": "1706",    
#     "2017-07": "1707",
#     "2017-08": "1708",
#     "2017-09": "1709",
#     "2017-10": "1710",
#     "2017-11": "1711",
#     "2017-12": "1712",   
    
#     "2018-01": "1813",
#     "2018-02": "18Q1",
#     "2018-03": "18Q1",
#     "2018-04": "18Q2",
#     "2018-05": "18Q2",
#     "2018-06": "18Q2",    
#     "2018-07": "18Q3",
#     "2018-08": "18Q3",
#     "2018-09": "18Q3",
#     "2018-10": "18Q4",
#     "2018-11": "18Q4",
#     "2018-12": "18Q4",   
    
#     "2019-01": "19Q1",
#     "2019-02": "19Q1",
#     "2019-03": "19Q1",
#     "2019-04": "19Q2",
#     "2019-05": "19Q2",
#     "2019-06": "19Q2", 
#     "2019-07": "19Q3",
#     "2019-08": "19Q3",
#     "2019-09": "19Q3",
#     "2019-10": "19Q4",
#     "2019-11": "19Q4",
#     "2019-12": "19Q4",
    
#     "2020-01": "20Q1",
#     "2020-02": "20Q1",
#     "2020-03": "20Q1",
# }
# 生成年份与月份
outcome['年与月']=outcome['开票日期'].apply(lambda x:x.strftime("%Y-%m-%d")).map(lambda x:x[:7])
outcome['年']=outcome['开票日期'].apply(lambda x:x.strftime("%Y-%m-%d")).map(lambda x:x[:4])
# outcome['季度']=outcome['年与月'].map(dic)

In [77]:
# outcome=pd.merge(outcome,pd.DataFrame(outcome.groupby([outcome['企业代号'],outcome['季度']])['金额'].sum()),on=['企业代号','季度'])
# outcome.rename(columns={'金额_y':'季度销售额'},inplace=True)

In [168]:
income['年与月']=income['开票日期'].apply(lambda x:x.strftime("%Y-%m-%d")).map(lambda x:x[:7])
income['年']=income['开票日期'].apply(lambda x:x.strftime("%Y-%m-%d")).map(lambda x:x[:4])
# income['季度']=income['年与月'].map(dic)
income.head(5)

,企业代号,发票号码,开票日期,销方单位代号,金额,税额,价税合计,发票状态,利润率,年与月,年
0,E1,3390939,2017-07-18,A00297,-943.40,-56.60,-1000.00,有效发票,NaN,2017-07,2017
1,E1,3390940,2017-07-18,A00297,-4780.24,-286.81,-5067.05,有效发票,NaN,2017-07,2017
2,E1,3390941,2017-07-18,A00297,943.40,56.60,1000.00,有效发票,NaN,2017-07,2017
3,E1,3390942,2017-07-18,A00297,4780.24,286.81,5067.05,有效发票,NaN,2017-07,2017
4,E1,9902669,2017-08-07,A05061,326.21,9.79,336.00,有效发票,NaN,2017-08,2017

In [169]:
# 计算每个公司月份的销售额和进价额
outcome_q=pd.DataFrame(outcome.groupby([outcome['企业代号'],outcome['年与月']])['金额'].sum())
profit=pd.merge(outcome_q,pd.DataFrame(income.groupby([income['企业代号'],income['年与月']])['金额'].sum()),on=['企业代号','年与月'],how='outer')
profit=profit.fillna(0)
profit.rename(columns={'金额_x':'out_month','金额_y':'in_month'},inplace=True)
profit.head()

                 out_month      in_month
企业代号 年与月
E1   2017-08  1.640846e+08  2.383385e+08
     2017-09  2.345742e+08  2.536707e+08
     2017-10  1.392358e+08  1.705082e+08
     2017-11  1.969378e+08  2.581701e+08
     2017-12  8.260757e+07  1.657898e+08
     2018-01  8.639503e+07  1.184490e+08
     2018-02  8.929326e+07  1.563555e+08
     2018-03  2.409480e+08  2.488052e+08
     2018-04  1.554347e+08  2.599721e+08
     2018-05  1.983866e+08  1.944243e+08
     2018-06  1.241590e+08  3.821179e+08
     2018-07  1.479203e+08  2.261645e+08
     2018-08  7.806546e+07  8.556543e+07
     2018-09  2.128600e+08  1.780331e+08
     2018-10  6.546580e+07  2.986833e+08
     2018-11  2.053342e+08  1.900898e+08
     2018-12  1.220105e+08  3.243642e+08
     2019-01  1.114652e+08  9.577333e+07
     2019-02  4.999857e+07  9.656084e+07
     2019-03  3.044257e+08  3.314803e+08
     2019-04  6.494317e+07  1.021269e+08
     2019-05  1.102879e+08  1.483814e+08
     2019-06  1.982919e+08  2.245362e+08
     2019-07  1.238377e+08  1.197971e+08
     2019-08  5.861913e+07  1.286998e+08
     2019-09  1.200917e+08  1.560549e+08
     2019-10  1.126220e+08  1.698127e+08
     2019-11  9.206567e+07  1.790578e+08
     2019-12  1.022504e+08  1.595277e+08
     2020-01  7.323147e+07  8.339504e+07
...                    ...           ...
E96  2017-10  0.000000e+00  6.469700e+03
     2017-12  0.000000e+00  5.000000e+01
     2018-03  0.000000e+00  2.830200e+02
     2018-07  0.000000e+00  2.310882e+06
     2019-05  0.000000e+00  2.641500e+02
     2019-09  0.000000e+00  6.160400e+02
E97  2020-02  0.000000e+00  2.830100e+02
E98  2017-07  0.000000e+00  6.834860e+03
     2018-02  0.000000e+00  5.955390e+03
E99  2017-10  0.000000e+00  1.950551e+04
     2017-11  0.000000e+00  2.905983e+04
     2017-12  0.000000e+00  9.433962e+04
     2018-02  0.000000e+00  2.473670e+03
     2018-03  0.000000e+00  3.849169e+04
     2018-04  0.000000e+00  1.833893e+04
     2018-05  0.000000e+00  4.307840e+03
     2018-07  0.000000e+00  1.032283e+05
     2018-09  0.000000e+00  7.489770e+03
     2018-10  0.000000e+00  1.229274e+04
     2018-11  0.000000e+00  2.079059e+06
     2018-12  0.000000e+00  4.154286e+05
     2019-02  0.000000e+00  1.418803e+04
     2019-03  0.000000e+00  8.049014e+04
     2019-04  0.000000e+00  4.928183e+05
     2019-05  0.000000e+00  2.907692e+05
     2019-06  0.000000e+00  1.930371e+04
     2019-07  0.000000e+00  1.518579e+04
     2019-08  0.000000e+00  2.336004e+04
     2019-09  0.000000e+00  1.165648e+05
     2019-10  0.000000e+00  3.146196e+04

[3888 rows x 2 columns]

In [ ]:
# # 计算每个公司季度的销售额和进价额
# outcome_q=pd.DataFrame(outcome.groupby([outcome['企业代号'],outcome['年与月']])['金额'].sum())
# profit=pd.merge(outcome_q,pd.DataFrame(income.groupby([income['企业代号'],income['年与月']])['金额'].sum()),on=['企业代号','年与月'],how='outer')
# profit=profit.fillna(0)
# profit.rename(columns={'金额_x':'out_month','金额_y':'in_month'},inplace=True)
# profit

In [54]:
# income=pd.merge(income,pd.DataFrame(income.groupby([income['企业代号'],income['季度']])['金额'].sum()),on=['企业代号','季度'])
# income.rename(columns={'金额_y':'季度进货额'},inplace=True)

In [111]:
# 计算每个公司季度的销售额和进价额
# outcome_q=pd.DataFrame(outcome.groupby([outcome['企业代号'],outcome['季度']])['金额'].sum())
# profit=pd.merge(outcome_q,pd.DataFrame(income.groupby([income['企业代号'],income['季度']])['金额'].sum()),how='outer')
# profit=profit.fillna(0)
# profit.rename(columns={'金额_x':'out','金额_y':'in'},inplace=True)
# profit

In [170]:
# 求每个月的利润及利润率
profit['profit']=profit['out_month']-profit['in_month']
profit['销售利润率']=profit['profit']/profit['out_month']
profit['成本费用利润率']=profit['profit']/profit['in_month']
profit

                 out_month      in_month        profit     销售利润率   成本费用利润率
企业代号 年与月
E1   2017-08  1.640846e+08  2.383385e+08 -7.425398e+07 -0.452535 -0.311548
     2017-09  2.345742e+08  2.536707e+08 -1.909649e+07 -0.081409 -0.075281
     2017-10  1.392358e+08  1.705082e+08 -3.127246e+07 -0.224601 -0.183407
     2017-11  1.969378e+08  2.581701e+08 -6.123231e+07 -0.310922 -0.237178
     2017-12  8.260757e+07  1.657898e+08 -8.318223e+07 -1.006956 -0.501733
     2018-01  8.639503e+07  1.184490e+08 -3.205393e+07 -0.371016 -0.270614
     2018-02  8.929326e+07  1.563555e+08 -6.706225e+07 -0.751034 -0.428909
     2018-03  2.409480e+08  2.488052e+08 -7.857200e+06 -0.032610 -0.031580
     2018-04  1.554347e+08  2.599721e+08 -1.045374e+08 -0.672549 -0.402110
     2018-05  1.983866e+08  1.944243e+08  3.962329e+06  0.019973  0.020380
     2018-06  1.241590e+08  3.821179e+08 -2.579589e+08 -2.077650 -0.675077
     2018-07  1.479203e+08  2.261645e+08 -7.824420e+07 -0.528962 -0.345961
     2018-08  7.806546e+07  8.556543e+07 -7.499976e+06 -0.096073 -0.087652
     2018-09  2.128600e+08  1.780331e+08  3.482698e+07  0.163614  0.195621
     2018-10  6.546580e+07  2.986833e+08 -2.332175e+08 -3.562433 -0.780819
     2018-11  2.053342e+08  1.900898e+08  1.524436e+07  0.074242  0.080196
     2018-12  1.220105e+08  3.243642e+08 -2.023537e+08 -1.658494 -0.623847
     2019-01  1.114652e+08  9.577333e+07  1.569183e+07  0.140778  0.163843
     2019-02  4.999857e+07  9.656084e+07 -4.656227e+07 -0.931272 -0.482207
     2019-03  3.044257e+08  3.314803e+08 -2.705457e+07 -0.088871 -0.081617
     2019-04  6.494317e+07  1.021269e+08 -3.718371e+07 -0.572558 -0.364093
     2019-05  1.102879e+08  1.483814e+08 -3.809350e+07 -0.345401 -0.256727
     2019-06  1.982919e+08  2.245362e+08 -2.624432e+07 -0.132352 -0.116882
     2019-07  1.238377e+08  1.197971e+08  4.040616e+06  0.032628  0.033729
     2019-08  5.861913e+07  1.286998e+08 -7.008068e+07 -1.195526 -0.544528
     2019-09  1.200917e+08  1.560549e+08 -3.596317e+07 -0.299464 -0.230452
     2019-10  1.126220e+08  1.698127e+08 -5.719062e+07 -0.507810 -0.336787
     2019-11  9.206567e+07  1.790578e+08 -8.699215e+07 -0.944892 -0.485833
     2019-12  1.022504e+08  1.595277e+08 -5.727735e+07 -0.560167 -0.359043
     2020-01  7.323147e+07  8.339504e+07 -1.016357e+07 -0.138787 -0.121873
...                    ...           ...           ...       ...       ...
E96  2017-10  0.000000e+00  6.469700e+03 -6.469700e+03      -inf -1.000000
     2017-12  0.000000e+00  5.000000e+01 -5.000000e+01      -inf -1.000000
     2018-03  0.000000e+00  2.830200e+02 -2.830200e+02      -inf -1.000000
     2018-07  0.000000e+00  2.310882e+06 -2.310882e+06      -inf -1.000000
     2019-05  0.000000e+00  2.641500e+02 -2.641500e+02      -inf -1.000000
     2019-09  0.000000e+00  6.160400e+02 -6.160400e+02      -inf -1.000000
E97  2020-02  0.000000e+00  2.830100e+02 -2.830100e+02      -inf -1.000000
E98  2017-07  0.000000e+00  6.834860e+03 -6.834860e+03      -inf -1.000000
     2018-02  0.000000e+00  5.955390e+03 -5.955390e+03      -inf -1.000000
E99  2017-10  0.000000e+00  1.950551e+04 -1.950551e+04      -inf -1.000000
     2017-11  0.000000e+00  2.905983e+04 -2.905983e+04      -inf -1.000000
     2017-12  0.000000e+00  9.433962e+04 -9.433962e+04      -inf -1.000000
     2018-02  0.000000e+00  2.473670e+03 -2.473670e+03      -inf -1.000000
     2018-03  0.000000e+00  3.849169e+04 -3.849169e+04      -inf -1.000000
     2018-04  0.000000e+00  1.833893e+04 -1.833893e+04      -inf -1.000000
     2018-05  0.000000e+00  4.307840e+03 -4.307840e+03      -inf -1.000000
     2018-07  0.000000e+00  1.032283e+05 -1.032283e+05      -inf -1.000000
     2018-09  0.000000e+00  7.489770e+03 -7.489770e+03      -inf -1.000000
     2018-10  0.000000e+00  1.229274e+04 -1.229274e+04      -inf -1.000000
     2018-11  0.000000e+00  2.079059e+06 -2.079059e+06      -inf -1.000000
     2018-12  0.000000e+00  4.154286e+05 -4.154286e+05      -inf -1.000000
     2019-02  0.000000e+00  1.418803e+04 -1.418803e+04      -inf -1.000000
     2019-03  0.000000e+00  8.049014e+04 -8.049014e+04      -inf -1.000000
     2019-04  0.000000e+00  4.928183e+05 -4.928183e+05      -inf -1.000000
     2019-05  0.000000e+00  2.907692e+05 -2.907692e+05      -inf -1.000000
     2019-06  0.000000e+00  1.930371e+04 -1.930371e+04      -inf -1.000000
     2019-07  0.000000e+00  1.518579e+04 -1.518579e+04      -inf -1.000000
     2019-08  0.000000e+00  2.336004e+04 -2.336004e+04      -inf -1.000000
     2019-09  0.000000e+00  1.165648e+05 -1.165648e+05      -inf -1.000000
     2019-10  0.000000e+00  3.146196e+04 -3.146196e+04      -inf -1.000000

[3888 rows x 5 columns]

In [171]:
profit.to_excel('利润表.xlsx')

In [ ]:
# 供需平衡

('E1', '17Q3')